<table>
  <tr>
    <th>Move Up</th>
    <th>Move Down</th>
    <th>Order</th>
    <th>Task</th>
    <th>Done</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>
  <tr *ngFor="let task of tasks ">
    <td><button (click)="moveUp(task)">Move Up</button></td>
    <td><button (click)="moveDown(task)">Move Down</button></td>
    <td>{{ task.order }}</td>
    <td>{{ task.task  }}</td>
    <td><input type="checkbox" [(ngModel)]="task.done"></td>
    <td><button (click)="edit(task)">Edit</button></td>
    <td><button (click)="remove(task)">Remove</button></td>
  </tr>
</table>


<div *ngIf="editTask && editTask.task">
	<h2>Change Selected Task</h2>
	<label for="editTask">Edit</label>
	<input type="text" name="editTask" [(ngModel)]="editTask.task">
	<button (click)="applyEdit()">Submit</button>
	<br><br>
</div>

<hr>
<label for="name">Add a new task</label>
<input type="text" name="task" [(ngModel)]="newTask.task">
<button (click)="addNewTask(newTask)">Submit</button>